.card {
  position: relative;
  
  width: 625px;
  height: 395px;
  
  margin: 2rem auto;
  background-color: #cbdaee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card .card__icon {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #cbdaee;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  overflow-y: auto; 
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  color: #333;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
}

.card:hover .card__icon {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}


@media (max-width: 640px) {
   
  .card {
    width: 90%; 
    height: 0;  
    
    padding-top: calc(90% * 0.632); 
    
    margin: 1rem auto;
  }

  .card .card__icon,
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card__title {
    font-size: 2rem;
  }

  .card__description {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}